body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.header {
    background-color: #f1c40f;
    padding: 10px 0;
    
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
.loginbtn{
    display: block;
}
.user-dropdown{
    display: none;
}


/* User Dropdown Styles */
.user-dropdown {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
    color: #fff; /* Text color */
    font-size: 16px;
    padding: 8px;
    background-color: #e11c1c; /* Background color for the dropdown trigger */
    border-radius: 4px;
}

.user-dropdown:hover {
    background-color: #0a0101; /* Change background on hover */
}

.user-dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Add shadow */
    z-index: 1;
    border-radius: 4px;
}

.user-dropdown-content a {
    color: black; /* Link color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.user-dropdown-content a:hover {
    background-color: #ddd; /* Background color on hover */
}

.user-dropdown:hover .user-dropdown-content {
    display: block; /* Show dropdown content on hover */
}

.user-dropdown-content a:active {
    background-color: #ccc; /* Background on click */
}





.logo img {
    width: 10%;
    margin: 0px;
    padding: 0px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #474545;
    font-weight: bold;
    font-size: 20px;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #030101;
}
footer {
    background-color: #1e1d1d;
    color: #fff;
    padding: 10px 0;
    
}

footer .container {
    display: flex;
    justify-content:space-around;
}

footer h3 {
    margin-top: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 5px;
    font-size: 15px;
}

footer ul li a {
    text-decoration: none;
    color: #FFD700;
}